//- Pug is a tool for making websites. It helps write website parts more easily, keeps code organized, and adds dynamic content. It's often used with Node.js for web development.
extends layouts/main-layout.pug

block content
    h1 Page Not Found!